<!DOCTYPE html>
<html lang="en">

  <%- include('_adminheader.ejs') %>

  <head>
    <title>Inventory</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>

    

      <table class="table">
        <thead>

          <tr>
            <th>~~</th>
            <th>Product ID</th>
            <th>QT Sold</th>
            <th>Total Amount Sold by "<%=supid%>": <%=sum.sum%></th>
         
          </tr>


        </thead>
        <tbody>





          <% if(data.length){ for(var i = 0; i< data.length; i++) {%>
          <tr>
            <th scope="row"><%= (i+1) %></th>
            <td><%= data[i].productID%></td>
            <td><%= data[i].quantity%></td>
          </tr>
          <tr>

          <% } }else{ %>
          <tr>
            <td><%=data.length%></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>